:root {
  --principal: #009dc8;
  --secundario: #ffbe00;
  --secundario2: #db5000;
  --secundario3: #cdf1fb;
  --oscuro: #2c4d54;
  --blanco: #ffffff;
  --letra: #127e6e;
  --gris: #808080;
}
.header {
  margin-bottom: 10px;
}
html {
  box-sizing: border-box;
  /*Tamaño de la fuente*/
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
.clearfix::after {
  content: "";
  clear: both;
  display: block;
}
body {
  font-size: 2rem;
  line-height: 2;
  font-family: "Roboto Slab", serif;
}
img {
  max-width: 100%;
}

/*------------------Barra de navegación--------------*/
header p {
  display: none;
}
.header {
  background-color: var(--principal);
}
#btn-menu {
  display: none;
}
.header label {
  display: none;
  width: 50px;
  height: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 60px;
  border-right: 1px solid #ffffff;
}
.header label:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.3);
}
.menu ul {
  margin: 0;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}
.menu li a {
  font-family: "Francois One", sans-serif;
  display: block;
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
}
.menu li a:hover {
  background: rgba(152, 201, 135, 0.5);
}

.logo {
  /* width: 40%; */
  height: 300px;
  padding-left: 100px;
  margin-top: 50px;
}

.arriba2 {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0px;
  background: #ffbe00;
  font-size: 1.2em;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}
.arriba2 i {
  color: #ffffff;
}

/*En este caso se manejó el media query para el maximo en pantallas pequeñas*/
@media (max-width: 768px) {
  .header label {
    display: block;
  }
  .header p {
    display: inline-block;
    padding-right: 280px;
    float: right;
    color: #ffffff;
    font-family: "Francois One", sans-serif;
  }
  .menu {
    position: absolute;
    background: (var(--principal));
    width: 100%;
    margin-left: -70%;

    transition: all 0.5s;
    z-index: 1;
  }
  .menu ul {
    flex-direction: column;
  }
  .menu li a {
    color: var(--secundario);
  }
  #btn-menu:checked ~ .menu {
    margin: 0;
  }
  .fas {
    color: #ffffff;
    font-size: 1.1em;
  }
  .logo {
    display: none;
  }
}

/*------------------Foto de Portada------------------*/
.hero {
  height: 450px;
  background-image: url(/img/portadaPaisaje.jpg);
  position: relative;
  display: flex;
  align-items: right;
  justify-content: right;
}
.hero img {
  width: 100%;
  height: auto;
}
/*Agrandar Portada*/
.hero:hover {
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.contenido-hero {
  position: absolute;
  z-index: -2;
  flex: -1;
  padding-bottom: 2rem;
  color: var(--oscuro);
  text-align: right;
  margin-right: 0;
}
.contenido-hero:hover {
  color: var(--secundario);
}

/*----------------------------- Diagonal -----------------------------*/
.diagonal {
  position: relative;
  width: 100%;
  margin-top: -5%;
  height: 300px;
  background: var(--principal);
  box-sizing: border-box;
  padding: 2px;
  color: #ffffff;
  margin-top: -30px;
  margin-bottom: 200px;
}
.diagonal:after {
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  z-index: -3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform-origin: top left;
  transform: skewY(4deg);
  box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /*https://www.w3schools.com/css/css3_shadows.asp*/
}

/*Contenido*/
.contenedor {
  font-size: 1.3rem;
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 100px;
  line-height: 2;
}
.contenedor-informacion {
  align-items: center;
}
.contenedor-informacion img {
  height: 300px;
  border: solid 10px;
}
@media (min-width: 768px) {
  .contenedor-informacion {
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-column-gap: 2rem;
  }
}
.contenedor2 {
  max-width: 1200px;
  font-size: 1.3rem;
  margin: 0 auto;
  padding: 3.2rem;
  background-color: var(--secundario3);
  margin-bottom: 2rem;
  color: var(--letra);
  border: solid 5px var(--letra);
  text-align: justify;
  box-shadow: 5px 5px 10px var(--gris);
}
.contenedor-informacion2 {
  align-items: center;
}
.contenedor2 .texto p {
  color: var(--letra);
}
.contenedor-informacion2 img {
  height: 300px;
  width: 480px;
}
@media (min-width: 768px) {
  .contenedor-informacion2 {
    display: grid;
    grid-template-columns: auto auto;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-column-gap: 2rem;
  }
}
.centrar {
  margin: 0 10%;
}
@media (min-width: 768px) {
  .centrar {
    margin: 0;
  }
}
/*Footer*/

@media (min-width: 768px) {
  .boton {
    /*https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1*/
    padding: 0.5rem 2rem;
    border-radius: 0.3rem;
    display: inline-block;
    color: var(--secundario1);
    background-color: var(--secundario3);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 10;
    border: none;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  .boton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }

  .boton span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .boton:hover span {
    padding-right: 25px;
  }

  .boton:hover span:after {
    opacity: 1;
    right: 0;
  }
  .boton a {
    font-family: "Roboto Slab", serif;
  }
  .boton span a {
    text-decoration: none;
  }
}
.boton {
  /*https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1*/
  padding: 3px;
  border-radius: 0.3rem;
  display: inline-block;
  color: #ffffff;
  background-color: var(--oscuro);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  border: none;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}
.boton a {
  color: #ffffff;
}
.boton span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.boton span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.boton:hover span {
  padding-right: 25px;
}

.boton:hover span:after {
  opacity: 1;
  right: 0;
}
.boton span a {
  text-decoration: none;
}

/*Footer*/
.contenedor3 {
  align-items: center;
}
.contenedor3 p {
  font-size: 1rem;
  text-align: center;
}
.contenedor3 a {
  text-decoration: none;
}
.boton {
  margin-top: 5px;
}

@media (min-width: 768px) {
  .contenedor3 {
    padding-left: 0;
    align-items: center;
    align-content: center;
  }
  .contenedor3 p {
    font-size: 1rem;
    text-align: center;
  }
  .contenedor3 a {
    text-decoration: none;
  }
  .boton {
    margin-top: 5px;
  }
}
.footer-sitio {
  background-color: var(--secundario3);
  padding-top: 10%;
  margin-top: 5%;
  text-align: center;
}
.footer-sitio a i {
  color: var(--oscuro);
  text-decoration: none;
  font-size: 2rem;
  margin-right: 20px;
}
.footer-sitio a:last-of-type {
  margin-right: 0px;
}
.redes {
  margin-top: 10px;
  padding-bottom: 10px;
}
.redes a i:hover {
  color: #ffffff;
}
.copyright {
  background-color: var(--principal);
  font-size: 1rem;
  color: var(--oscuro);
}

@media (min-width: 768px) {
  .footer-sitio {
    background-color: var(--secundario3);
    padding-top: 10px;
    margin-top: 5%;
    text-align: center;
  }
  .copyright {
    background-color: var(--principal);
    padding: 20px 0;
    margin-bottom: 0;
    margin-top: 0;
  }
}
