:root
{
    /* Colores */
    --blanco: #FFFFFF;
    --amarillo: #FECE42;
    /* Botones */
    --azul: #01AB91;
    /* Parrafos */
    --azuloscuro: #2C4D54;

    --oscuro: #2c4d54;
    --azul: #008bbe;
    --azulClaro: #b5dce1;
    --verdeOscuro: #127e6e;
    --verdeMentaOscuro: #01ab91;
    --verdeMentaClaro: #8ed9d2;
    --verdeSuperClaro: #b0e9d6;
    --verdeClaro: #98c987;
    --amarillo: #ffbe00;
}

html
{
    box-sizing: border-box;
   
}

*,*:before, *:after
{
    box-sizing: inherit;
    margin: 0;
    padding: 0;

}

body 
{
    font-size: 2rem;
    line-height: 2;
}
img 
{
    max-width: 100%;
}

form 
{

    padding: 1rem;
}

form legend 
{
    font-size: 2rem;
    padding: 3rem;
    margin-bottom: 2rem;
    text-align: center;

}

p {
    font-size: 1.8rem;

    /*font-family:*/
    font-family: 'Roboto Slab', serif;
    color: var(--oscuro);  
}

.boton1
{
    background-color: var(--azul);
    padding: 1rem 3rem;
    border-radius: 0.3rem;
    position: relative; left: 800px;
    color: var(--blanco);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 700;
    margin-top: .7rem;
    border: none;
}


.header {
    background-color: var(--verdeMentaOscuro);
}
#btn-menu {
    display: none;
}
.header label {
    display: none;
    width: 50px;
    height: 50px;
    padding: 10px;
    border-right: 1px solid #ffffff;
}
.header label:hover {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
}
.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}
.menu li a {
    font-family: 'Francois One', sans-serif;
    display: block;
    padding: 10px 20px;
    color: #ffffff;
    text-decoration: none;
}
.menu li a:hover {
    background: rgba(152, 201, 135, 0.5);
}
/*En este caso se manejó el media query para el maximo en pantallas pequeñas*/
@media (max-width:768px) {
    .header label {
        display: block;
    }
    .menu {
        position: absolute;
        background: (var(--verdeMentaOscuro));
        width:100%;
        margin-left: -70%;
      
        transition: all 0.5s;
        z-index: 1;
    }
    .menu ul {
        flex-direction: column;
    }
    .menu li a {
        color: var(--amarillo);
    }
    #btn-menu:checked ~ .menu {
        margin: 0;
    }
}

/*------------------Foto de Portada------------------*/
.hero {
    height: 450px;
    background-image: url(/img/portadaPaisaje.jpg);
    position: relative;
    display: flex;
    align-items: right;
    justify-content: right;    
}
.hero img {
    width: 100%;
    height: auto;
}
/*Agrandar Portada*/
.hero:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); 
}
.contenido-hero {
    position: absolute;
    z-index: -2;
    flex: -1;
    padding-bottom: 2rem;
    color: var(--oscuro);
    text-align: right; 
    margin-right: 0; 
}   
.contenido-hero:hover {
    color: var(--amarillo);
}

/*----------------------------- Diagonal -----------------------------*/
.diagonal {
    position: relative;
    width: 100%;
    margin-top: -5%;
    height: 300px;
    background: var(--verdeMentaOscuro);
    box-sizing: border-box;
    padding: 2px;
    color: #ffffff;
    margin-top: -30px;
    margin-bottom: 200px;
    
}
.diagonal:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -3;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*https://www.w3schools.com/css/css3_shadows.asp*/
}
#citaPapa {
    font-family: 'Lora', serif;
    text-align: right;
    padding: .8%;
    font-size: 2rem;
    color: #ffffff;
}
#citaPapa b {
    color: var(--amarillo);
}
@media (min-width: 768px)  {
    #citaPapa{
        font-size: 3rem;
    }
}

.informacionGeneral {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3.2rem;
    background-color: var(--verdeSuperClaro);
    color: var(--oscuro);
    border: solid 5px var(--verdeOscuro);
    text-align: justify;
}
.contenedorInformacion img {
    float:left;
    margin:10px;
    margin-bottom: 10%;
}
.contenedorInformacion h1 {
    text-align: center;
    font-size: 30px;;
}

.contenedor {
    max-width: 1200px;
    width: 80%;
    margin:0 auto;
}
.TemasPlaneta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
.contenedorInformacion h1 {
    font-size: 1.3rem;
    text-align: center;
}
.contenedorInformacion p {
    font-size: 1rem;
    text-align: center;
}
.contenedorInformacion img {
    width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .TemasPlaneta {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 768px) {
    .contenedorInformacion img {
        width: 200px; 
        height:250px;
        float:left;
        margin-top:-5%;
        
    }
}



/* ESTADISTICAS */

.contenedor 
{
    max-width: 1300px;
    width: 100%;
    margin: 0 auto;
}

.lista-estadisticas
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}
@media (min-width: 768px) 
{
    .lista-estadisticas {
        grid-template-columns: repeat(2, 2fr);
    }
}

.estadistica img
{
    max-width: 100%;
    align-items: center;
}

.estadistica 
{

    background-color: var(--azuloscuro);
    padding: 1rem;
}


.texto p 
{
    color: var(--blanco);
    font-size: 1rem;
    text-align: justify;
    font-family: 'Heebo', sans-serif;
    line-height: 1.2;
    margin: 1rem 0;
}

.texto .contenido
{
    font-size: 1.40rem;
}

main h2
{
    font-family: 'Heebo', sans-serif;
    color: var(--azuloscuro);
    padding: 2%;
}



/* FORMULARIO */

form
{
    padding: 0.5rem;
}

form h1
{
    font-family: 'Heebo', sans-serif;
    text-align: center;
    padding: 0, 0px;
    font-size: 2rem;
    
}

.campaña h2
{
    font-family: 'Heebo', sans-serif;
    text-align: center;
    color: var(--azuloscuro);
    padding: 20px;
    font-size: 2rem;
}

#main
{
    width:910px;
    height:620px;
    margin:30px auto
}
#first
{
    width:950px;
    height:700px;
    box-shadow:0 0 0 1px rgba(14,41,57,0.12),0 2px 5px rgba(14,41,57,0.44),inset 0 -1px 2px rgba(14,41,57,0.15);
    float: left;
    padding:10px 50px 0;
    background:linear-gradient(#fff,#f2f6f9)
}

hr
{
    border:0;
    border-top:1px solid #ccc;
    margin-bottom:30px
}

label
{
    padding: 0.5rem;
    font-family: 'Heebo', sans-serif;
    font-size:30px
}

input
{
    font-family: 'Heebo', sans-serif;
    width:820px;
    padding:0.5rem;
    margin-top:8px;
    margin-bottom:1px;
    border-radius:5px;
    border:1px solid #cbcbcb;
    box-shadow:inset 0 1px 2px rgba(0,0,0,0.18);
    font-size:15px
}


input[type=submit]
{
    background:var(--verdeMentaOscuro);
    box-shadow:inset 0 1px 0 0 #7bdcf4;
    border:1px solid #0F799E;
    color:#fff;
    font-size:19px;
    font-weight:700;
    cursor:pointer;
    
}

input[type=submit]:hover
{
    background:linear-gradient(to bottom,#36caf0 5%,#22abe9 100%);
}




/* BOTONES */
@media (min-width:768px) {
    .boton {
        /*https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1*/
        padding: .5rem 2rem;
        border-radius: 0.3rem;
        display: inline-block;
        color: var(--azul);
        background-color: var(--verdeClaro);
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.1rem;
        font-weight: 10;
        border: none;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
    }
    .boton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }
      
      .boton span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }
      
      .boton:hover span {
        padding-right: 25px;
      }
      
      .boton:hover span:after {
        opacity: 1;
        right: 0;
      }
      .boton a {
        font-family: 'Roboto Slab', serif;
      }
      .boton span a {
        text-decoration: none;
      }
}
.boton {
    /*https://www.w3schools.com/css/tryit.asp?filename=trycss_buttons_animate1*/
    padding: 3px;
    border-radius: 0.3rem;
    display: inline-block;
    color: #ffffff;
    background-color: var(--oscuro);
    text-decoration: none;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    border: none;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.boton a {
    color: #ffffff;
}
.boton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .boton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .boton:hover span {
    padding-right: 25px;
  }
  
  .boton:hover span:after {
    opacity: 1;
    right: 0;
  }
  .boton span a {
    text-decoration: none;
  }

/*Footer*/
.contenedor3 { 
    
    align-items: center;
}
.contenedor3 p {
    font-size: 1rem;
    text-align: center;
}
.contenedor3 a {
    text-decoration: none;
}
.boton {
    
    margin-top: 5px;
}

@media (min-width:768px) {
    .contenedor3 {
        padding-left: 0;
        align-items: center;
        align-content: center;
    }
    .contenedor3 p {
        font-size: 1rem;
        text-align: center;
    }
    .contenedor3 a {
        text-decoration: none;
    }
    .boton {
        margin-top: 5px;
    }
}
.footer-sitio {
    background-color: var(--verdeMentaClaro);
    padding-top: 10%;
    margin-top: 5%;
    text-align: center;
}
.footer-sitio a i {
    color: var(--oscuro) ;
    text-decoration: none;
    font-size: 2rem;
    margin-right: 20px;
}
.footer-sitio a:last-of-type {
    margin-right: 0px;
}
.redes{
    margin-top: 10px;
    padding-bottom: 10px;
}
.redes a i:hover{
    color:#ffffff;
}
.copyright {
    background-color: var(--verdeMentaOscuro);
    font-size: 1rem;
    color: var(--oscuro);
}

@media (min-width:768px)  {
    .footer-sitio {
        background-color: var(--verdeMentaClaro);
        padding-top: 10px;
        margin-top: 10%;
        text-align: center;
    }
    .copyright {
        background-color: var(--verdeMentaOscuro);
        padding: 20px 0;
        margin-bottom: 0;
        margin-top: 0;
        }
}