:root {
    /* Colores */
    --oscuro: #2c4d54;
    --azul: #008bbe;
    --azulClaro: #b5dce1;
    --verdeOscuro: #127e6e;
    --verdeMentaOscuro: #01ab91;
    --verdeMentaClaro: #8ed9d2;
    --verdeSuperClaro: #b0e9d6;
    --verdeClaro: #98c987;
    --amarillo: #ffbe00;
}
html {
    box-sizing: border-box;
    /*Tamaño de la fuente*/

}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 2rem;
    line-height: 2;
}
img {
    max-width: 100%;
}
h1, h2 {
    /*color: #ffffff;*/
}
h3 {
    color: var(--azul);
}
p {
    font-size: 1.8rem;
    /*font-family:*/
    color: var(--oscuro);  
}
.nav {
    background-color: var(--oscuro);
}
.nav {
    padding:  0 3% 0 0;
    max-width: 1200;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  
}
@media (min-width: 768px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        background-color: #ffffff;
        flex-grow: inherit;
    }
}
.nav a {
    font-size: 3rem;
    text-decoration: none;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 10px 10px;
    background-color: var(--verdeMentaClaro);
    margin-bottom: 0;
}
.nav a:last-of-type {
    margin-bottom: 0;
}
.logo{
    padding: 10px 10px;
    max-width: 100%;
}
@media (min-width: 768px) {
    .nav a {
        margin-bottom: 0;
        font-size: 2rem;
    }
}
.nav a:hover {
    background-color: var(--amarillo);
}
/*----------------------------- Fin barra de navegación-----------------------------*/



.diagonal {
    background-color: var(--oscuro);
    color: #ffffff;
    height: 80px;
    padding-top: 0px;
    position: relative;
    text-align: center;
    width: 100%;
}
.diagonal h2, blockquote {
    font-size: 5%;
    text-transform: uppercase;
}
.diagonal:before {
    position: absolute;
    content: '';
    width: 50%;
    height: 75px;
    top: -50px;
    left: 0;
    background: var(--oscuro);
    transform: skewY(10deg);
}
.diagonal:after {
    position: absolute;
    content: '';
    width: 50%;
    height: 75px;
    top: -50px;
    right: 0;
    background: var(--oscuro);
    transform: skewY(-10deg);
}
@media( min-width:768px) {
    .diagonal {
        background-color: var(--oscuro);
        color: #ffffff;
        height: 250px;
        padding-top: 0;
        position: relative;
        text-align: center;
        width: 100%;
    }
    .diagonal:before {
        position: absolute;
        content: '';
        width: 60%;
        height: 125px;
        top: -50px;
        left: 0;
        background: var(--oscuro);
        transform: skewY(10deg);
    }
    .diagonal:after {
        position: absolute;
        content: '';
        width: 60%;
        height: 125px;
        top: -50px;
        right: 0;
        background: var(--oscuro);
        transform: skewY(-10deg);
    }
}
.imagen {  
    height: 100px;
    position: relative;
    width: 100%;
    
}