:root {
    /* Colores */
    --oscuro: #2c4d54;
    --azul: #008bbe;
    --azulClaro: #b5dce1;
    --verdeOscuro: #127e6e;
    --verdeMentaOscuro: #01ab91;
    --verdeMentaClaro: #8ed9d2;
    --verdeSuperClaro: #b0e9d6;
    --verdeClaro: #98c987;
    --amarillo: #ffbe00;
}
html {
    box-sizing: border-box;
    /*Tamaño de la fuente*/

}
*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
.clearfix::after {
    content: '';
    clear: both;
    display: block;
}
body {
    font-size: 2rem;
    line-height: 2;
}
img {
    max-width: 100%;
}
/*h1, h2 {
    color: #ffffff;
}*/
h3 {
    color: var(--azul);
}
p {
    font-size: 1.8rem;
    /*font-family:*/
    color: var(--oscuro);  
}
/*------------------Barra de navegación--------------*/
.nav {
    background-color: var(--verdeSuperClaro);
}
.nav {
    padding: 1rem 0;
    max-width: 1800px;
    margin: 0 auto;
    display: flex;

    flex-direction: column;
    align-items: center;
}
@media (min-width: 768px) {
    .nav {
        flex-direction: row;
        justify-content: right;
    }
}
.nav a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--oscuro);
    padding: 10px 5px;
    margin-bottom: 2rem;
    align-items: center;
    /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}
.nav a:last-of-type {
    margin-bottom: 0;
}
/*.logo{
    margin-top: 2%;
    margin-left: 1.5%;
}*/
@media (min-width: 768px) {
    .nav a {
        margin-bottom: 0;
        font-size: 2rem;
    }
}
.nav a:hover {
    background-color: var(--amarillo);
}
/*------------------Foto de Portada------------------*/
.hero {
    height: 450px;
    background-image: url(/img/bosqueMalo.jpg);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;    
}
/*Agrandar Portada*/
.hero:hover {
    opacity: 0.8;
    filter: alpha(opacity=80); 
}
.contenido-hero {
    position: relative;
    z-index: 2;
    flex: 1;
    padding-bottom: 2rem;
    color: var(--oscuro);
    text-align: right; 
    margin-right: 10%; 
}   
.contenido-hero:hover {
    color: var(--amarillo);
}

/*----------------------------- Diagonal -----------------------------*/
.diagonal {
    position: relative;
    width: 100%;
    margin-top: -5%;
    height: 300px;
    background: var(--verdeMentaOscuro);
    box-sizing: border-box;
    padding: 2px;
    color: #ffffff;
    margin-top: -30px;
    margin-bottom: 200px;
    
}
.diagonal:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background: inherit;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transform-origin: top left;
    transform: skewY(4deg);
    box-shadow: 0 10px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /*https://www.w3schools.com/css/css3_shadows.asp*/
}
   
#citaPapa {
    text-align: right;
    padding: .8%;
    font-size: 2rem;
    color: #ffffff;
}
@media (min-width: 768px)  {
    #citaPapa{
        font-size: 3rem;
    }
}

/*---------------Contenido-----------------*/
.contenedor {
    max-width: 1200px;
    width: 80%;
    margin:0 auto;
}
.TemasPlaneta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

@media (min-width: 768px) {
    .TemasPlaneta {
        grid-template-columns: repeat(3, 1fr);
    }
}


