@media (max-width: 768px) {
    .header p {
        display: inline-block;
        padding-right: 5rem;
        float: right;
        color: #ffffff;
        font-family: "Francois One", sans-serif;
        z-index: 3;
    }
    .header label {
        margin-top: -1rem;
    }
    .fas {
      color: #ffffff;
      font-size: 1em;
    }
  }
  